<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ninja</title>
</head>
<body>
  
    <h1>New Ninja</h1>
    <select name="dojos_id">
    {%for i in dojos %}
    <option value="{{i['id']}}"> {{i['name']}}</option>
{%endfor%}
</select>
<br></br>
<br></br>
<br></br>
<br></br>

    <form action='/create_ninja' method='post'>
        First Name: <input  type='text' name='first_name'>
        Last Name: <input  type='text' name='last_name'>
        Age: <input type='text' name='age'>
        <input type='submit' value='create'>
        </form>
        <a href="/">Home</a>

</body>
</html>